<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../snippets/header") %>
</head>

<body>
    <%- include ("../snippets/navbar") %>
        <div class="container">
            <h1 class="display-1 py-5">User Uploads</h1>
        </div>

</body>

</html>